* {
    border: 1px solid gold;
}

body {
    margin: 0;
}

container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main p {
    text-align: center;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 2
    margin: 10px;
    width: 100%;
}

iframe {
    filter: grayscale();

}

img {
    height: 400px;

}

.pictures {
    display: flex;
    box-sizing: border-box;
    flex-basis: auto;
    justify-content: space-around;
    width: 100%;
    flex-flow: row wrap;

}

div.pic1 {
    box-sizing: border-box;

}

.pic1 {
    box-sizing: border-box;
    background-image: url('imgs/ICELAND1.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 0;
    border: 0;
    position: relative;
}

.pic2 {
    background-image: url('imgs/ICELAND2.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 0;
    border: 0;
    position: relative;
    box-sizing: border-box;
}

.pic3 {
    background-image: url('imgs/ICELAND3.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 0;
    border: 0;
    position: relative;
    box-sizing: border-box;
}

#overlay-contain1, #overlay-contain2, #overlay-contain3 {
    position: absolute;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    top: 0;
    bottom: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
    margin: 10px

    transition: opacity .2s, visibility .2s;
}

.pic1:hover #overlay-contain1 {
    visibility: visible;
    opacity: 1;
}

.pic2:hover #overlay-contain2 {
    visibility: visible;
    opacity: 1;
}

.pic3:hover #overlay-contain3 {
    visibility: visible;
    opacity: 1;
}


#overlay-contain1 > p, #overlay-contain2 > p, #overlay-contain3 > p{
    margin: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 200px;
    text-align: center;
}


form {
    display: flex;
    justify-content: center;

}

input {
    margin-top: 50px;
    font-size: 50px;
}

#submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;  height: 70px;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 3;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-textbox {
    background-color: white;
    height: 400px;
    width: 600px;
    border-radius: 2px;
    margin: 150px auto;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    line-height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.modal-buttons {
    padding: 14px 18px;
    background: #677996;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: 'Arial';
    cursor: pointer;
}

img#weather_icon {
    height: 50px;
    margin-left: 50px;

}

.map {
    display: flex;
    justify-content: flex-end;
    width: 375px;
    margin-left: 40px;


}

.div-tobe-empty {
    width: 170px;
}

div#status-win p {
    line-height: 590%;
    text-align: center;
}

/* div#weather-win {
    display: flex;
    justify-content: center;
    flex-flow: column;
} */

div#weather-win p {
    line-height: 50%;
    text-align: center;
}

.modal-textbox > h1 {
    text-align: center;
}
