/* * {
    border: 1px solid gold;
} */

body {
    margin: 0;
}

container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.header {
    height: 727px;
    width: 100%;
    text-align: center;
    background-color: #B0E0E6;
    box-sizing: border-box;
}

.header h1 {
    font-family: 'Bangers', sans-serif;
    font-size: 300px;
    margin: 0;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #252525;

}

.header h2 {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;

}

#instruct-modal-text h1 {
    line-height: 100%;
    color: #252525;
    text-shadow: none;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F7F0F0;
}

main h3 {
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    font-size: 25px;
    font-weight: 900;

}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 2;
    margin: 0px;
    width: 100%;
    position: sticky; top: 0;
    background-color: #252525;
    align-items: center;
    align-content: center;

}

nav h1 {
    font-family: 'Bangers', sans-serif;
    color: #FFFFFF;
    padding-left: 10px;
}

nav button {
    margin-right: 10px;
}

iframe {
    filter: grayscale();

}

img {
    height: 400px;

}

.pictures {
    display: flex;
    box-sizing: border-box;
    flex-basis: auto;
    justify-content: space-around;
    width: 100%;
    flex-flow: row wrap;

}

div.pic1 {
    box-sizing: border-box;

}

.pic1 {
    box-sizing: border-box;
    background-image: url('imgs/ICELAND1.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 0;
    border: 0;
    position: relative;
    border-radius: 4px;
}

.pic2 {
    background-image: url('imgs/ICELAND2.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 0;
    border: 0;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
}

.pic3 {
    background-image: url('imgs/ICELAND3.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 0;
    border: 0;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
}

#overlay-contain1, #overlay-contain2, #overlay-contain3 {
    position: absolute;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    top: 0;
    bottom: 0;
    background: rgba(128, 128, 128, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 4px;
    transition: opacity 1s, visibility 1s;
}

.pic1:hover #overlay-contain1 {
    visibility: visible;
    opacity: 1;
}

.pic2:hover #overlay-contain2 {
    visibility: visible;
    opacity: 1;
}

.pic3:hover #overlay-contain3 {
    visibility: visible;
    opacity: 1;
}


#overlay-contain1 > p, #overlay-contain2 > p, #overlay-contain3 > p{
    margin: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 100px;
    text-align: center;
    font-family: 'Bangers', sans-serif;
    font-size: 18px;
}


form {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;

}

input {
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

#submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;  height: 70px;
    font-family: 'Roboto', sans-serif;
}

#submit:hover {
    background-color: #B0E0E6;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 3;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-textbox {
    background-color: white;
    height: 400px;
    width: 600px;
    border-radius: 4px;
    margin: 150px auto;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    line-height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background-color: #B0E0E6;
    color: #FFFFFF;
    border: 5px solid #F7F0F0;
}

.modal-buttons {
    height: 40px;
    padding: 10px 14px;
    background: #F7F0F0;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #252525;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

}

.modal-buttons:hover {
    border: 3px solid #B0E0E6;
    font-weight: 800;
}

img#weather_icon {
    height: 50px;
    margin-left: 50px;

}

.map {
    display: flex;
    justify-content: flex-end;
    width: 375px;
    margin-left: 55px;
    border-radius: 4px;


}

.div-tobe-empty {
    width: 170px;
}

div#status-win p {
    height: 120px;
    line-height: 590%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 800;
}

div#weather-win p {
    line-height: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.modal-textbox > h1 {
    text-align: center;
    font-family: 'Bangers', sans-serif;
    text-shadow: 1px 1px 2px #252525;
}

div#modal-textbox-wrong p{
    text-align: center;
    line-height: 200%;
    font-family: 'Roboto', sans-serif;
}


div#modal-textbox-forcewin p{
    text-align: center;
    line-height: 200%;
    font-family: 'Roboto', sans-serif;
}

div#instruct-modal-text p{
    text-align: center;
    line-height: 200%;
    font-family: 'Roboto', sans-serif;
}


div#win-text p{
    text-align: center;
    line-height: 200%;
    font-family: 'Roboto', sans-serif;
}

#weather-win {
    background-color: #F7F0F0;
    color: black;
    font-size: 10px;
    padding: 5px;
    border-radius: 4px;
    height: 140px;

}

button#next_button {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background-color: #252525
    color: #B0E0E6;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 950px){
    .header h1 {
        font-size: 150px;
    }

    input {
        font-size: 20px;
    }

    #submit {
        width: 80px;  height: 35px;
        margin-left: 0;
        font-size: 12px;
    }

    .modal-textbox {
        height: 600px;
        width: 400px;
    }

    .header {
        height: 550px;
    }

    .map {
        width: 200px;
        height: 500px;
    }

    iframe {
        width: 200px;
        height: 500px;
    }

    .pic1 {
        height: 390px;
        width: 390px;
    }

    .pic2 {
        height: 390px;
        width: 390px;
    }

    .pic3 {
        height: 390px;
        width: 390px;
    }

    #overlay-contain1, #overlay-contain2, #overlay-contain3 {
        height: 390px;
        width: 390px;
        margin: 0px;
    }

}
