main {
    width: 100%
}


nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 2
    margin: 10px;
    width: 100%;
}

iframe {
    filter: grayscale();

}

img {
    height: 400px;

}

.pictures {
    display: flex;
    box-sizing: border-box;
    flex-basis: auto;
    justify-content: space-around;
}

.pic1 {
    background-image: url('imgs/ICELAND1.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    box-sizing: border-box;
}

.pic2 {
    background-image: url('imgs/ICELAND2.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    box-sizing: border-box;
}

.pic3 {
    background-image: url('imgs/ICELAND3.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    box-sizing: border-box;
}

#overlay-contain1, #overlay-contain2, #overlay-contain3 {
    position: absolute;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    top: 0;
    bottom: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;

    transition: opacity .2s, visibility .2s;
}

.pic1:hover #overlay-contain1 {
    visibility: visible;
    opacity: 1;
}

.pic2:hover #overlay-contain2 {
    visibility: visible;
    opacity: 1;
}

.pic3:hover #overlay-contain3 {
    visibility: visible;
    opacity: 1;
}

form {
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 3;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-textbox {
    background-color: white;
    height: 350px;
    width: 550px;
    border-radius: 2px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    line-height: 120%;
}

.modal-buttons {
    padding: 14px 18px;
    background: #677996;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: 'Arial';
    cursor: pointer;
}
